//color variable
$light-blue: #2998ff; // Primary
$dark-blue: #5643fa; // Secondary
$text-grey: #344563;  // Text Primary
$dirty-white: #e5e5e5; //#f1f1f1;

//Color
$dark-blue: #1c2a39;
$blue: #323f4c;
$light-blue: #495460;

$white: #fff;
$orange: #FF8C00; //Error/Hint color
//Shadow
$shadow: 0.1rem 0.2rem 2rem #ddd;
$ash: #ddd;